@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: 'Bebas Neue', cursive;
}
.first-player-score , .second-player-score{
    font-size:  3rem;
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 2rem;
}
.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.player-one-btn , .player-two-btn{
    margin-top: 10vh;
    font-size: 1.5rem;
    margin-left : 5vw;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
}